body {
    background-image: url(shopping-bag-cart.jpg);
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Navigation bar styles */
  nav {
    background-color: #333;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Logo styles */
  .logo {
    text-align: center;
    margin-top: 30px;
  }
  
  /* About section styles */
  .about-section {
    text-align: center;
    margin: 50px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .professional-line {
    margin-bottom: 20px;
  }
  
  .get-started {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    animation: forwards;
  }
  